data/labels_taskC/*.npz filter=lfs diff=lfs merge=lfs -text
data/labels_taskD/*.npz filter=lfs diff=lfs merge=lfs -text
data/labels_taskE_svamp/*.npz filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
